{% load static %}
<link rel="stylesheet" href="{% static 'booking/style.css' %}">

<div class="card">
    <h1>My Appointments</h1>

    {% for a in appointments %}
        <div class="card">
            <p><strong>Client:</strong> {{ a.client.username }}</p>
            <p><strong>Date:</strong> {{ a.slot.start|date:"d/m/Y" }}</p>
            <p><strong>Time:</strong> {{ a.slot.start|time:"H:i" }} - {{ a.slot.end|time:"H:i" }}</p>
            <p><strong>Status:</strong> {{ a.status }}</p>
            <p><strong>Notes:</strong> {{ a.notes|default:"No notes yet." }}</p>

            <form method="POST">
                {% csrf_token %}
                <input type="hidden" name="appt_id" value="{{ a.id }}">

                <label>Status:</label>
                <select name="status">
                    <option value="pending" {% if a.status == "pending" %}selected{% endif %}>Pending</option>
                    <option value="completed" {% if a.status == "completed" %}selected{% endif %}>Completed</option>
                    <option value="cancelled" {% if a.status == "cancelled" %}selected{% endif %}>Cancelled</option>

                </select>

                <label>Notes:</label>
                <textarea name="notes">{{ a.notes }}</textarea>

                <button type="submit">Update</button>
            </form>
        </div>
    {% endfor %}
</div>
